
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
  }
  
  .card {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    /* background-image: url("/assets/brain.jpeg") ; */
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .card-content {
    display: none;
  }
  
  .card.flipped .card-content {
    display: block;
  }
  
  .card:not(.flipped) .card-content {
    display: none;

  }

  .game-info button {
    background-color:#FED775; 
    height: 60px; 
    width: 100px; 
    font-size: x-large;
    
  
  }
  .game-info{
    font-family: Copperplate, Fantasy ; 
    font-weight: lighter; 
    -webkit-text-stroke-color: rgb(11, 185, 183);
    -webkit-text-stroke-width: 0.6px;
    font-size: x-large;
    color: white;
  }
