
<div style="width: 500px; height: 300px; margin: auto; display: flex; justify-content: center; align-items: center; text-align: center; border: 2px solid black; background-color: white;flex-direction: column; margin-top: 100px;">
    <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Welcome To Remember Me Game</h2>
    <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Ready To Test Your Mind?</h3>
    <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Match up the cards in pairs to win</p>
    <br>
    <div style="justify-content: center;align-items: center;">

    
        <button (click)="goToCardPage()" style="background-color:#FED775; height: 60px; width: 100px; font-size: x-large;">PLAY</button>
    
    </div>


</div>


